* {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.logo img {
    height: 7rem;
    margin-top: 8%;
}

#button-Landing-Reistration-Btns {
    color: #145599;
    border: none;
}

.main {
    display: flex;
}

.logo a {
    font-size: 25px;
    color: #145599;
    font-weight: bolder;
    line-height: 72px;
    padding-left: 7.5%;
}

.Landing-Reistration-Btns {
    /* display: inline; */
    float: right;
    line-height: 72.99px;
    padding-right: 7.5%;
}

#button-Landing-Reistration-Btns-SignUp {
    border-color: #145599;
    color: #145599;
}

.logo {
    display: inline;
}

#Menu-Toggle {
    margin: 30px 3rem;
    font-size: 1.3rem;
    float: right;
    display: none;
    cursor: pointer;
}

#Menu-Toggle-closer {
    margin: 30px 3rem;
    font-size: 1.3rem;
    float: right;
    display: none;
    cursor: pointer;
}

.header {
    color: #151515;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px !important;
    height: 72px !important;
    background: linear-gradient(to right, #eff5fa, #ffffff) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 0 1px 1rem rgba(0, 0, 0, .11);
}

.header-content {
    display: inline;
}

.body {
    width: 100%;
    height: 90%;
    background: linear-gradient(to right, #eff5fa, #ffffff);
}

.footer {
    width: 100%;
    height: 4%;
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    text-align: center;
}

.small-screen-Menu {
    width: 20%;
    height: 128px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
    margin-right: -90px;
    margin-top: 1rem;
    border-radius: 8px;
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    display: none;
}

@keyframes move {
    0% {
        top: -25px;
    }
    25% {
        top: 1px
    }
}

.small-screen-Menu a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(109, 109, 253);
    text-align: center;
    padding: 20px;
    outline: none;
}

.small-screen-Menu a:hover {
    background: rgb(243, 245, 246);
}

.Registrations {
    float: right;
    line-height: 72.99px;
    padding-right: 7.5%;
}

.Registrations button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgb(59, 139, 204);
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
}

#SignUpBtn {
    background: rgb(59, 139, 204);
    color: white;
}

#LoginBtn {
    color: rgb(59, 139, 204);
    border-color: rgb(59, 139, 204);
    margin-left: 1rem;
}

/* ==================================   Welcome Notes ========== */

.wordsSide {
    margin: 8.5% 5% 0 35%;
    position: absolute;
}

.animated-words {
    font-family: 'Assistant', sans-serif;
    text-transform: uppercase;
    color: #525252;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
}

.animated-words span:nth-child(2) {
    -webkit-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
}

.animated-words span:nth-child(3) {
    -webkit-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
}

.animated-words span:nth-child(4) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.animated-words span:nth-child(5) {
    -webkit-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s;
}

.animated-words span:nth-child(6) {
    -webkit-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
}

.animated-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    display: inline;
    -webkit-animation: animateWord 12s linear infinite 0s;
    -ms-animation: animateWord 12s linear infinite 0s;
    animation: animateWord 12s linear infinite 0s;
}

@-webkit-keyframes animateWord {
    0% {
        opacity: 0
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(20%);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(-20%);
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.AppDescr {
    margin-top: 2rem;
}

.AppDescr p {
    font-family: 'Assistant', sans-serif;
    /* font-size: 16px; */
    color: #777;
    font-size: 1.5rem;
}

.StartNow button {
    border: none;
    background: #145599;
    color: white;
    padding: 0px;
    width: 40%;
    font-size: 12px;
    font-family: 'Assistant', sans-serif;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 1rem;
    border: .2rem solid #8fafda;
    cursor: pointer;
    outline: none;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
}

/* ================================== Sign Up ================== */

.container-signup {
    background: #ffffff;
    height: 35rem;
    width: 35%;
    position: absolute;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 0 1px 1rem rgba(0, 0, 0, .11);
    margin-top: 6%;
    display: none;
    animation-name: move-Signup;
    animation-duration: 3s;
    overflow-y: hidden;
}

@keyframes move-Signup {
    0% {
        top: 10px;
    }
    25% {
        top: 72.9px
    }
}

.inputside-signup {
    width: 90%;
    outline: none;
    height: 75vh;
    margin: 1rem auto;
    margin-top: -4%;
}

.all-inputside-signup p:hover {
    color: #1c5597;
}

.all-inputside-signup input:hover {
    box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, .075), 0 0 5px rgb(104, 145, 162);
}

.all-inputside-signup {
    margin: 60px 45px 0px 45px;
}

.inputside-signup p label {
    margin-bottom: 10rem;
}

.all-inputside-signup p input {
    box-sizing: border-box;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    background: #eaeef1;
    outline: none;
}

.names {
    display: flex;
}

.names .Firstname {
    margin-right: 3%;
}

#side {
    width: 48%;
}

.passwords {
    display: flex
}

.passwords .passwordSgnup {
    margin-right: 3%;
}

.all-inputside-signup h2 {
    margin-bottom: 20px;
}

.all-inputside-signup button {
    padding: 1px;
    width: 100%;
    display: block;
    border: 1px solid #1c5597;
    background: #1c5597;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
}

.all-inputside-signup button:hover {
    box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, .075), 0 0 5px rgb(104, 145, 162)
}

.all-inputside-signup a {
    display: block;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1c5597;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.gotologin {
    color: black;
}

/* ============================================ LOGIN FORM  ============================================ */

.login-container {
    background: #ffffff;
    height: 28rem;
    width: 32rem;
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 0 1px 1rem rgba(0, 0, 0, .11);
    animation-name: Login-animation;
    animation-duration: 2s;
    display: none;
}

@keyframes Login-animation {
    0% {
        top: 20px;
    }
    25% {
        top: 72.9px
    }
}

.login-inputside {
    margin-top: 2.5rem;
    width: 90%;
}

.all-login-inputside {
    margin-left: 16%;
}

.all-login-inputside h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #002044;
    width: 75%;
    margin-top: 2rem;
}

.content {
    margin-top: 3rem;
}

.username label i {
    margin-right: .8rem;
}

.password label i {
    margin-right: .8rem;
}

.username label, input {
    display: block;
}

.username label {
    margin-bottom: 8px;
}

.password label {
    margin-bottom: 8px;
}

#passwrde {
    color: #707070;
}

#usernme {
    color: #707070;
}

.username input {
    padding: 10px;
    width: 90%;
    margin-bottom: 20px;
    outline: none;
    background: #eaeef1;
}

.username input:hover {
    border: 1px solid #1c5597;
    box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, .075), 0 0 5px rgb(104, 145, 162);
}

.username:hover {
    color: #1c5597;
}

.password {
    margin-bottom: 20px;
}

.password label, input {
    display: block;
}

.password input {
    padding: 10px;
    width: 90%;
    outline: none;
    border: 1px solid #383838;
    background: #eaeef1;
}

.password input:hover {
    border: 1px solid #1c5597;
    box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, .075), 0 0 5px rgb(104, 145, 162);
}

.password:hover {
    color: #1c5597;
}

.login-inputside p input {
    box-sizing: border-box;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
}

.login-inputside button {
    padding: 2px;
    width: 90%;
    display: block;
    border: 1px solid #1c5597;
    background: #1c5597;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 2rem;
}

.login-inputside button:hover {
    box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, .075), 0 0 5px rgb(104, 145, 162);
}

.login-inputside a {
    display: block;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1c5597;
    font-size: 12px;
}

.login-inputside .forgotPsw {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
    font-size: 13px;
    text-align: left;
}

.login-inputside .createacct {
    width: 75%;
    text-align: center;
    font-size: 14px;
}

.login-inputside .createacct span {
    color: black;
}

.ToResetPasswordBtn {
    margin: 1rem 0;
}

/* ==============================================================Responsiveness */

/* smaller or equal than tablet(standard : 768px) */

@media screen and (max-width: 768px) {
    .Registrations {
        display: none;
    }
    #Menu-Toggle {
        display: block;
    }
    #Menu-Toggle-closer {
        display: none;
    }
    /* Sign up */
    .container-signup {
        width: 50vh;
        height: 67vh;
        margin: 3rem 0 0 8rem;
        display: none;
    }
    @keyframes move-Signup {
        0% {
            top: 30px;
        }
        25% {
            top: 71.6px
        }
    }
    .all-inputside-signup {
        margin: 10% 14% 0% 10%;
    }
    .imageside-signup {
        display: none;
    }
    .inputside-signup {
        width: 100%;
    }
    .all-inputside-signup h2 {
        text-align: center;
    }
    .all-inputside-signup p input {
        box-sizing: border-box;
        border: 1px solid #9e9e9e;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        margin-bottom: 1rem;
        background: #eaeef1;
        outline: none;
    }
    .names {
        display: flex;
        flex-direction: column;
    }
    .passwords {
        display: flex;
        flex-direction: column;
    }
    #side {
        width: 100%;
    }
    /*  Login */
    .login-container {
        background: #ffffff;
        height: 28rem;
        width: 32rem;
        position: absolute;
        margin-top: 25%;
        margin-left: 16.5%;
        animation-name: Login-animation;
        /* display: none; */
    }
    @keyframes Login-animation {
        0% {
            top: 40px;
        }
        25% {
            top: 72px
        }
    }
    /*  ==========================WORDS SIDE */
    .wordsSide {
        margin: 25% 0% 0 15%;
        position: absolute;
        box-sizing: border-box;
        padding: 20px;
    }
    .logo img {
        height: 8rem;
    }
    .animated-words {
        /* display: inline;
    
    font-weight: 1000;
    text-transform: uppercase;
    background: #1e90ff;
    font-size: 1.8rem;
     */
        font-family: 'Assistant', sans-serif;
        text-transform: uppercase;
        color: #525252;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: .1rem;
    }
    .animated-words span:nth-child(2) {
        -webkit-animation-delay: 2s;
        -ms-animation-delay: 2s;
        animation-delay: 2s;
    }
    .animated-words span:nth-child(3) {
        -webkit-animation-delay: 4s;
        -ms-animation-delay: 4s;
        animation-delay: 4s;
    }
    .animated-words span:nth-child(4) {
        -webkit-animation-delay: 6s;
        -ms-animation-delay: 6s;
        animation-delay: 6s;
    }
    .animated-words span:nth-child(5) {
        -webkit-animation-delay: 8s;
        -ms-animation-delay: 8s;
        animation-delay: 8s;
    }
    .animated-words span:nth-child(6) {
        -webkit-animation-delay: 10s;
        -ms-animation-delay: 10s;
        animation-delay: 10s;
    }
    .animated-words span {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        display: inline;
        -webkit-animation: animateWord 12s linear infinite 0s;
        -ms-animation: animateWord 12s linear infinite 0s;
        animation: animateWord 12s linear infinite 0s;
    }
    @-webkit-keyframes animateWord {
        0% {
            opacity: 0
        }
        2% {
            opacity: 0;
            -webkit-transform: translateY(20%);
        }
        5% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
        17% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
        20% {
            opacity: 0;
            -webkit-transform: translateY(-20%);
        }
        80% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    .AppDescr {
        margin-top: 2rem;
    }
    .AppDescr p {
        font-family: 'Assistant', sans-serif;
        /* font-size: 16px; */
        color: #777;
        font-size: 1.5rem;
    }
    .StartNow button {
        border: none;
        background: #145599;
        color: white;
        padding: 10px;
        width: 40%;
        font-size: 12px;
        font-family: 'Assistant', sans-serif;
        border-radius: 30px;
        font-weight: bold;
        margin-top: 1rem;
        border: .2rem solid #8fafda;
        cursor: pointer;
        outline: none;
        font-weight: 600;
        letter-spacing: .1rem;
    }
}

/*  Smaller or equal than phone(standard: 360px) */

@media screen and (max-width: 360px) {
    .header img {
        height: 2.5rem;
        margin: 5px 0 0 1rem;
    }
    #Menu-Toggle {
        margin: 15px 2.3rem;
        font-size: 1rem;
    }
    .logo a {
        font-size: 1rem;
    }
    #Menu-Toggle {
        line-height: 40px;

    }
    #Menu-Toggle-closer {
     
        margin: 26px 2.3rem 0 0;
        font-size: 1rem;
    }
    .small-screen-Menu {
        width: 25%;
        height: 14%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        float: right;
        margin-right: 8px;
        margin-top: .5rem;
        border-radius: 5px;
        position: relative;
        animation-name: move;
        animation-duration: 2s;
        display: none;
    }
    .small-screen-Menu a {
        font-size: .8rem;
        color: rgb(109, 109, 253);
        text-align: center;
        padding: 12px;
        outline: none;
    }
    .footer p {
        font-size: 10px;
    }
    /* Sign up */
    .container-signup {
        width: 45vh;
        height: 78vh;
        margin: 2rem 0 0 2.2rem;
        animation-name: move-Signup;
        /* display: none; */
    }
    @keyframes move-Signup {
        0% {
            top: 30px;
        }
        25% {
            top: 45px
        }
    }
    .all-inputside-signup h2 {
        margin-bottom: 8px;
        margin-top: 20px;
        font-size: 17px;
    }
    .all-inputside-signup {
        margin: 5% 14% 0% 10%;
    }
    .imageside-signup {
        display: none;
    }
    .inputside-signup {
        width: 100%;
    }
    .all-inputside-signup h2 {
        text-align: center;
    }
    .all-inputside-signup p label {
        font-size: .8rem;
    }
    .all-inputside-signup p {
        margin: -5px auto;
    }
    .all-inputside-signup p input {
        box-sizing: border-box;
        border: 1px solid #9e9e9e;
        border-radius: 5px;
        width: 100%;
        padding: 6px;
        margin-bottom: 1rem;
        background: #eaeef1;
        outline: none;
    }
    .all-inputside-signup button {
        padding: 6px;
        margin-top: 1px;
    }
    .names {
        display: flex;
        flex-direction: column;
    }
    .passwords {
        display: flex;
        flex-direction: column;
    }
    #side {
        width: 100%;
    }
    /*  Login */
    .login-container {
        background: #ffffff;
        height: 20rem;
        width: 16rem;
        position: absolute;
        margin-top: 25%;
        margin-left: 14%;
    }
    .username {
        margin-bottom: 1.3rem;
        margin-top: 1rem;
    }
    .password {
        margin-top: 1rem;
    }
    .login-inputside {
        margin-top: 2rem;
        width: 90%;
    }
    .all-login-inputside {
        margin-left: 16%;
    }
    .all-login-inputside h2 {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 5px;
        font-size: 1rem;
        color: #002044;
        width: 75%;
        margin-top: 2rem;
    }
    .content {
        margin-top: 1rem;
    }
    .username label i {
        margin-right: .2rem;
    }
    .password label i {
        margin-right: .2rem;
        /* display: inline; */
    }
    .username label, input {
        display: block;
    }
    .username label {
        margin-bottom: 4px;
    }
    .password label {
        margin-bottom: 4px;
    }
    #passwrde {
        color: #707070;
    }
    #usernme {
        color: #707070;
    }
    .username input {
        padding: 5px;
        width: 90%;
        margin-bottom: 10px;
        outline: none;
        background: #eaeef1;
    }
    .username input:hover {
        border: 1px solid #1c5597;
        box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, .075), 0 0 5px rgb(104, 145, 162);
    }
    .username:hover {
        color: #1c5597;
    }
    .password {
        margin-bottom: 10px;
    }
    .password label, input {
        display: block;
    }
    .password input {
        padding: 5px;
        width: 90%;
        outline: none;
        border: 1px solid #383838;
        background: #eaeef1;
    }
    .password input:hover {
        border: 1px solid #1c5597;
        box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, .075), 0 0 5px rgb(104, 145, 162);
    }
    .password:hover {
        color: #1c5597;
    }
    .login-inputside p input {
        box-sizing: border-box;
        border: 1px solid #9e9e9e;
        border-radius: 5px;
    }
    .login-inputside button {
        padding: 6px;
        width: 90%;
        display: block;
        border: 1px solid #1c5597;
        background: #1c5597;
        color: white;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    }
    .login-inputside button:hover {
        box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, .075), 0 0 5px rgb(104, 145, 162);
    }
    .login-inputside a {
        display: block;
        text-decoration: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #1c5597;
        font-size: 10px;
    }
    .login-inputside .forgotPsw {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 75%;
        font-size: 13px;
        text-align: left;
    }
    .login-inputside .createacct {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
    .login-inputside .createacct span {
        color: black;
    }
    .ToResetPasswordBtn {
        margin: 1rem 0;
    }
    /* ==== animated words */
    .wordsSide {
        margin: 30% 5% 0 12%;
        position: absolute;
        box-sizing: border-box;
        padding: 20px;
    }
    .logo img {
        height: 4rem;
        margin: .1rem 25%;
    }
    .animated-words {
        font-size: .6rem;
        margin: .1rem 18%;
    }
    .AppDescr {
        margin-top: 1rem;
    }
    .AppDescr p {
        font-family: 'Assistant', sans-serif;
        /* font-size: 16px; */
        color: #777;
        font-size: .72rem;
    }
    .StartNow button {
        padding: 8px;
        width: 100%;
        font-size: 10px;
        font-family: 'Assistant', sans-serif;
        border-radius: 30px;
        font-weight: bold;
        margin: 1rem auto;
        border: .2rem solid #8fafda;
        cursor: pointer;
        outline: none;
        font-weight: 600;
        letter-spacing: .1rem;
    }
}

@media screen and (min-width: 769px) {
    .small-screen-Menu {
        display: none !important;
    }
    #Menu-Toggle {
        display: none !important;
    }
    #Menu-Toggle-closer {
        display: none !important;
    }
}